{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

   


{% block body %}
    <main class="container">
        <section class="row">
        
                <h1>Site e-commerce</h1>
                <h2>
                    Bienvenue sur notre site
                </h2>
            </div>
            {# {% for type in types %}
                <div class="col-4">
                    <div class="card mb-4" style="width: 18rem;">
              
                    {# <img src="..." class="card-img-top" alt="...">  #}
                    {# <div class="card-body">
                         <h3 class="card-title">{{ type.nom }}</h3>
                         <p class="card-text"></p>
                         <a href="{{path('app_type_list', {slug: type.slug}) }}" class="btn btn-primary">Voir les produits</a>
                    </div>
                </div> #}

            {# {% endfor %} #}

{#           
                {{ dump() }} #} 
            </div>
        </section>

   

        </div>
    </main>
         <div id="carousel">
                <div class="images">
        <img src="{{ asset('imgdef/img6.JPG') }}" alt="Image 1">
        <img src="{{ asset('imgdef/img1.JPEG') }}" alt="Image 2">
        <img src="{{ asset('imgdef/img2.jpg') }}" alt="Image 3">
        {# <img src="{{ asset('imgdef/img3.jpeg') }}" alt="Image 4">
        <img src="{{ asset('imgdef/img4.jpeg') }}" alt="Image 5"> #}
        <img src="{{ asset('imgdef/img7.jpeg') }}" alt="Image 6">
        </div>
    </div>
{% endblock %}

