{# templates/article/listes.html.twig #}

{% extends 'base.html.twig' %}

{# {% block head %}
    <!-- Incluez jQuery (assurez-vous de l'ajouter avant ce script) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /* styles */
        .articles-container {
            display: flex;
            flex-wrap: wrap;
        }

        .article-card {
            flex: 1 0 18rem;
            margin: 10px;
        }
    </style>
{% endblock %} #}
{% block body %}

             <style>
        /* styles */
        .articles-container {
            display: flex;
            flex-wrap: wrap;
        }

        .article-card {
            flex: 1 0 18rem;
            margin: 10px;
        }
    </style> 

  <div class="articles-container">
    {% for art in article %}
        <div class="article-card">
            <h1>{{ art.nom }}</h1>
                <div class="card" style="width: 18rem;">
            {% set firstImage = art.getFirstArticleImage() %}
            {% if firstImage %}
                <img src="{{ vich_uploader_asset(firstImage, 'articleImage') }}" alt="Image de l'article" class="card-img-top" >
            {% else %}
                <p>Cet article n'a pas d'image associée.</p>
            {% endif %}
             <div class="card-body">
             {# <p>{{ art.description }}</p> #}
             <p>Prix: {{ art.getPrixUnitaire()  }} $</p>
            {# <p>Stock: {{ art.stock }}</p> #}
            <p>Couleur: {{ art.couleur }}</p>
             <a class="btn btn-danger btn-sm my-3" href="{{path("app_delete",{"id":art.id }) }}" role="button">Supprimer</a>
            <a href="{{ path('app_view', {'id':art.id})}}" class="btn btn-primary btn-sm my-3">Voir</a>
        </div>
        </div>
        </div>
            

           
    {% endfor %}
  </div>

{# //    <script>
//         $(document).ready(function() {
//             var images = $(".active-image").siblings("img"); // Récupère toutes les autres images
//             var currentIndex = 0; // Index de l'image actuellement affichée

//             // Fonction pour passer à l'image suivante
//             function showNextImage() {
//                 images.removeClass("active-image"); // Supprime la classe active de toutes les images
//                 currentIndex = (currentIndex + 1) % images.length; // Passe à l'image suivante
//                 images.eq(currentIndex).addClass("active-image"); // Ajoute la classe active à la nouvelle image
//             }

//             // Appelle showNextImage toutes les 3 secondes (ajustez selon vos besoins)
//             setInterval(showNextImage, 3000);
//         });
//     </script> #}
{% endblock %}
