{% extends 'base.html.twig' %}
{% block body%}
<div class="article-card">
            <h1>{{ VoirArticle.nom }}</h1>
               
            {% set firstImage = VoirArticle.getFirstArticleImage() %}
            {% if firstImage %}
                <img src="{{ vich_uploader_asset(firstImage, 'articleImage') }}" alt="Image de l'article" class="card-img-top" style="display: inline-block; vertical-align: middle; width: 400px;">
            {% else %}
                <p style="display: inline-block; vertical-align: middle;">Cet article n'a pas d'image associée.</p>
            {% endif %}
            
             <p style="display: inline-block; vertical-align: middle;">price: {{ VoirArticle.getPrixUnitaire()  }} $</p>
             <p style="display: inline-block; vertical-align: middle;">Prix: {{VoirArticle.description }}</p>
               <a href="#" class="btn btn-primary ">Ajouter au panier</a>

             {% set otherImages = VoirArticle.getOtherArticleImages() %}
    {% if otherImages %}
        <div class="other-images">
            {# <h2>Autres images:</h2> #}
            <div class="image-list">
                {% for image in otherImages %}
                    <img src="{{ vich_uploader_asset(image, 'articleImage') }}" alt="Autre image de l'article" class="other-image" style="width: 450px;">
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock body %}